/* src/ProblemsTable.css */
.table-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    text-align: center; /* Center align the content */
}

th {
    background-color: #41323d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.error {
    color: red;
    text-align: center;
}

.loading {
    text-align: center;
}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Center the button */
    font-size: 16px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #41323d;
}